/*
Rpres CSS
 */

.reveal h3 { 
  font-size: 1.5em; 
  color: #222e50;
  font-weight: bold;
  font-variant-caps: all-small-caps;
}

.reveal h1, .reveal h2, .reveal h3 { 
   margin-bottom: .6em;    
}

.reveal p,
.reveal table {
    font-size: 1em;
    margin-bottom: 1em; 
}

.reveal li {
   margin-bottom: .4em;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
	margin-top: .4em;
}

.reveal .slides {
  text-align: left;
}

.reveal small {
	font-size: 0.85em;
}

.reveal pre {   
  margin-top: 0;
  max-width: 95%;
  border: 1px solid#ccc;
  white-space: pre-wrap;
  margin-bottom: 1em; 
}

.reveal pre code {
  display: block; padding: 0.5em;
  font-size: 1.6em;
  line-height: 1.1em;
  background-color: white;
  overflow: visible;
  max-height: none;
  word-wrap: normal;
}

.reveal code {
  overflow: visible;
  max-height: none;
}

.reveal code.r {
  background-color: #F8F8F8;
}

.reveal code.cpp {
  background-color: #F8F8F8;
}

.reveal section del {
   text-decoration: none;
   color: orange;
}

.prompt .reveal .state-background {
   background: #222e50;
}

.section .reveal .state-background {
   background: #222e50;
}

.section .reveal h1,
.section .reveal h2,
.section .reveal p,
.section .reveal ul {
   color: white;
   margin-top: 50px;
}

.sub-section .reveal .state-background {
  background: #222e50;
}

.sub-section .reveal h1, .sub-section .reveal h2, .sub-section .reveal h3, .sub-section .reveal p, .sub-section .reveal ul {
  color: white;
  margin-top: 60px;
}

.reveal strong {
  color: white;
}

.reveal .controls {
  right: -20px;
  bottom: 5px;
}

.reveal .controls div.navigate-left {
  top: 75px;
}

.reveal .controls div.navigate-right {
  left: 54px;
  top: 75px;
}


.reveal .controls div.navigate-up {
  display: none;
}

.reveal .controls div.navigate-down {
  display: none;
}

.reveal .progress span {
  background: #36558F;
}

.reveal .slides>section,
.reveal .slides>section>section {
  padding: 0px 0px;
}


.reveal table {
  border-width: 1px;
  border-spacing: 2px;
  border-style: dotted;
  border-color: gray;
  border-collapse: collapse;
  font-size: 0.7em;
}

.reveal table th {
  border-width: 1px;
  padding-left: 10px;
  padding-right: 25px;
  font-weight: bold;
  border-style: dotted;
  border-color: gray;
}

.reveal table td {
  border-width: 1px;
  padding-left: 10px;
  padding-right: 25px;
  border-style: dotted;
  border-color: gray;
}

.reveal blockquote {
  display: block;
  position: relative;
  width: 90%;
  margin: 5px auto;
  padding: 5px;

  font-style: normal;
  background: #C6D7DC;
  border: 1px solid #C6D7DC;
  box-shadow: none;
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: block;
}

.reveal blockquote:before {
  content: '';
}

.reveal blockquote:after {
    content: '';
}


.reveal ol,
.reveal ul {
	margin: 0 0 .5em 1.2em;
}

.reveal .slides section {
   height: 100%;
}

.reveal .slides section .slideContent h1 {
    font-size: 1.3em;
    font-weight: bold;
    color: #222e50;
 }



.reveal .slides section .slideContent h2 {
   font-size: 1.3em;
   font-weight: bold;
}

.reveal .slides section .slideContent h3 {
   font-size: 1.1em;
   font-weight: bold;
}

.reveal .slides section .column {
   position: fixed;
   width: 48%;
   top: 2.5em;
   bottom: 0;
}

.reveal .slides section .column1 {
   left: 0;
}

.reveal .slides section .column2 {
   right: 0;
}


.reveal .slides section .noTitle {
   top: 0;
}


.exclaim .reveal .state-background {
    background: #bcc6d9;
  } 
  
  .exclaim .reveal h3 {
      margin-top: 60px;
      font-size: 2em;
      color: #222e50;
      text-align: center;
  }